/* base */

* {
  margin: 0;
  padding: 0;
}
body {
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
}
p {
  margin: 10px;
}

/* column layout */

.body {
  text-align: center;
  width: 380px;
  margin: 0 auto;
  background: #ddd;
  direction: rtl; /* 右から左へ */
}
.main, .side {
  display: inline-block;
  *display: inline; /* IE6,7 */
  *zoom: 1; /* IE6,7 */
  vertical-align: top;
  text-align: left;
  background: #bbb;
  direction: ltr; /* 左から右へ */
}
.main {
  width: 250px;
}
.side {
  width: 100px;
  margin: 0 10px 0 0;
}
