/* base */

* {
  margin: 0;
  padding: 0;
}
body {
  padding: 20px;
  font-size: 14px;
  line-height: 1.5;
}

/* styles */

ul {
  list-style-type: none;
}
li {
  padding: 0 0 10px 36px;
  text-indent: -36px;
}
span {
  display: inline-block;
  width: 30px;
  margin: -17px 6px -13px 0;
  background: #ddd;
  vertical-align: middle;
}
img {
  display: block;
  margin: 0 auto;
}
