/* base */

* {
  margin: 0;
  padding: 0;
}
body {
  padding: 20px;
  font-size: 14px;
  line-height: 1.5;
}

/* styles */

ul {
  list-style-type: none;
}
li {
  padding: 0 0 10px 16px;
  text-indent: -16px;
}
li:before {
  content: '';
  display: inline-block;
  background: url(bullet.png) no-repeat 0 0;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  margin: -5px 8px -3px 0;
}
