.cols {
  padding: 20px;
  margin: 0 auto;
  max-width: 1600px;
}
.col {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 20px;
}
.col img {
  display: block;
  width: 100%;
}
.col p {
  font-size: 12px;
  padding: 15px 10px 0;
  margin: 0;
}
